doctype html
html
	head
		title Go Chat
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(type='text/javascript').
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(
					function (position){
						var element = document.getElementById('geolocation')
						var string = 'Latitude: ' + position.coords.latitude + '<br/>' + 
							'Longitude: ' + position.coords.longitude + '<br/>' +
							'Altitude: ' + position.coords.altitude + '<br/>' + 
							'Accuracy: ' + position.coords.accuracy + '<br/>' + 
							'Timestamp: ' + new Date(position.timestamp) + '<br/>';
						element.innerHTML = "Your location is " + position.coords.latitude + ", " +
							position.coords.longitude + ". \nYou will able to chat to people within 0.5 miles range." ;
				});
			}
		script(src='script.js')
		script(src='bootstrap/js/bootstrap.js')
	body
		div.container
			div.content
				div.page-header
					h1 Welcome! 
						br
						small Introduce yourself and start talking.
			div.row-fluid
				div.log-lg-6
					div.input-group
						input(type='text')#pseudoInput
						span.input-group-btn
		div.span9
				div#chatEntries
				div#chatControls
					input(type='text')#messageInput
					button#submit Send
		
			div#footer
				div#geolocation
